.projects-parent {
  display: flex;
  flex-direction: column;
  min-height: 80vh !important;
  margin-bottom: 150px;
  align-items: center;
}

.projects-parent h1 span {
  color: var(--color-background-primary);
}

.projects-parent h1 {
  cursor: default;
}

/* @media (max-width: 652px) {
  .projects-parent {
  }
} */
