/* ArrowDown.css */

.action-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  animation: ScrollAction 2s ease-in-out infinite;
  margin-top: 18px;
  margin-bottom: 150px;
}

@keyframes ScrollAction {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.btn-style {
  background: none;
  outline: unset;
  border: unset;
  cursor: default;
  margin: 0;
  font-size: 0.9rem;
  white-space: nowrap;
}
