/* Index.css */

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: background-color 0.1s ease-out, color 0.1s ease-out,
    border-color 0.1s ease-out;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #060010 !important;
  --bs-body-color: #ffffff;
}

[data-bs-theme="light"] {
  --bs-body-bg: #ffffff;
  --bs-body-color: #060010 !important;
}

:root {
  --color-hovering: #4b14e0ff;
  --color-background-primary: #3a16b9;
  --color-primary-headers: #7340ffff;
  --color-primary-elements: #100b1eb2;
}
