.el-style {
  cursor: default;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 0 20px;
}

.custom-style {
  font-size: 65px;
}

@media (max-width: 992px) {
  .custom-style {
    font-size: 45px;
  }
}

@media (max-width: 600px) {
  .custom-style {
    font-size: 30px;
  }
}
